.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://s3-alpha-sig.figma.com/img/8499/7eab/a715b1aa1a02a9deed51677cfdc9d49f?Expires=1698624000&Signature=RCStmm780C82moxmriWVF34w2QymUjxH06153tz3jEUX99kytFBNU3NWpIox6i-ZM7TBl-ArMOulY-PE~NLY4C2OYwaVJywOc1LOjbyMaEHgHQhEIu-6hW8SseXqPnYpJKAyHe8KW1Ug3EGklPhZlYsnFnadtIdsg5mLNf0mGusxSo~rwPT7k9H6Y5cb2BNA~6kcap3X8xergSeNszr5t5iaKTreXlv4bLOJlwnA~hl4nhJ~hl5adRQRRDPX8VV-B0UBzKFmri4gAQ5Ke-UIVMom5o4~YfFgwtpFez6o~h7VZvyc~~Q72SbqGmKkrSTjogpP1uNtrijCfoCtY38I7A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-position: -200% 30%;
  background-size: 1000px 622px;


}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form > h1 {
  font-size: 25px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login__form > input {
  min-width: 300px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.085);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-size: 15px;
}

.submit__btn {
  border-radius: 8px; /* Corrected the syntax for border-radius */
  border: 1px solid #ffffff3e;
  background: linear-gradient(318deg, rgba(0, 0, 0, 0.40) 0%, rgba(255, 255, 255, 0.40) 105.18%), #A483D6;
  background-blend-mode: soft-light, normal;
  box-shadow: 5px 5px 10px 0px #A6ABBD, -5px -5px 10px 0px #FAFBFF;
  color: #fff;
  transition: background 0.8s; /* Add a transition effect for a smooth color change */
}

.submit__btn:active {
  background: linear-gradient(318deg, rgba(255, 255, 255, 0.689) 0%, rgba(0, 0, 0, 0.40) 105.18%), #624490;
  /* Change the color for the :active state */
}


.sl-032421-41660-03-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1700px;
  height: 1024px;
  object-fit: cover;
  z-index: -5;
}
.desktop-1-child {
  position: absolute;
  top: 162px;
  left: 783px;
  border-radius: var(--br-base);
  width: 503px;
  height: 647px;
}
.forgot-your-password,
.new-here-create {
  position: absolute;
  top: 698px;
  left: 951px;
}
.new-here-create {
  top: 679px;
  left: 940px;
  display: inline-block;
  width: 200px;
}
.log-in {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 64.5px);
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
}
.login-button,
.icon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 39.46px;
  height: 38px;
  overflow: hidden;
}
.login-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 599px;
  left: 982px;
  border-radius: 20px;
  background: linear-gradient(
      -42.3deg,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(180deg, #bba0e4, #a483d6);
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  width: 113px;
  height: 48px;
}
.password {
  position: absolute;
  top: calc(50% - 8px);
  left: 16px;
  letter-spacing: 1px;
}
.error-stroke-icon,
.input-placeholder {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
}
.input-placeholder {
  background: linear-gradient(#e6eef8, #e6eef8), #cfd8dc;
  box-shadow: -4px -4px 12px rgba(253, 255, 255, 0.8) inset,
    4px 4px 12px rgba(187, 195, 206, 0.6) inset;
}
.error-stroke-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.icon-hide,
.input-inset {
  position: absolute;
  top: 0;
  left: calc(50% - 112.5px);
  width: 225px;
  height: 40px;
}
.icon-hide {
  top: 13.33px;
  left: calc(50% + 83.93px);
  width: 14.29px;
  height: 13.33px;
  overflow: hidden;
}
.log-in1,
.password-input {
  position: absolute;
  font-family: var(--font-open-sans);
}
.password-input {
  top: 525px;
  left: calc(50% + 206px);
  width: 225px;
  height: 40px;
  text-align: left;
  font-size: 15px;
  color: var(--color-darkgray);
}
.log-in1 {
  top: 244px;
  left: 939px;
  font-size: 28px;
  display: inline-block;
  color: #a483d6;
  width: 200px;
}
.input-inset1 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 453px;
  left: calc(50% + 206px);
}
.social-buttons-icon {
  position: absolute;
  top: 327px;
  left: 923px;
  width: 224px;
  height: 80px;
}
.logo-no-background-1-icon {
  position: absolute;
  top: 2752px;
  left: 103px;
  width: 466px;
  height: 441px;
  object-fit: cover;
}
.desktop-1 {
  position: relative;
  background: linear-gradient(180deg, rgba(227, 208, 255, 0.87), #fff 42.71%);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--bluegrey600);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}